.current-weather-container,
.hourly-weather-container,
.daily-weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.current-weather-display,
.hourly-weather-display,
.daily-weather-display {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  /* border: black solid 1px; */
  width: 70%;
  padding: 10px;
}
/* .current-description,
.current-temperature,
.current-feels-like,
.current-humidity {
  color: "grey";
} */
